In [29]:
fname = input('Isikan Nama Awal : ')
mname = input('Isikan Nama Tengah : ')
lname = input('Isikan Nama Akhir : ')

print('Selamat Datang',fname,mname,lname,"S.Kom")

Isikan Nama Awal : Mohammad
Isikan Nama Tengah : Rizqi
Isikan Nama Akhir : Wijaya
Selamat Datang Mohammad Rizqi Wijaya S.Kom

In [31]:
bil1 = input('Isikan Bilangan 1 = ')
bil2 = input('Isikan Bilangan 2  = ')
print(type(bil1))
hasil = int(bil1) + int(bil2)
print('Hasil Penjumlahan =', hasil)

Isikan Bilangan 1 : 12
Isikan Bilangan 2  : 5
<class 'str'>
Hasil Penjumlahan : 17

In [37]:
P = input('Panjang = ')
L = input('Lebar = ')
print(type(P))
luas = int(P)*int(L)
print('Luas =',luas,"cm")
keliling = 2 * (int(P) + int(L))
print('Keliling =',keliling,"cm")

Panjang = 12
Lebar = 13
<class 'str'>
Luas = 156 cm
Keliling = 50 cm

In [13]:
print("Januari", "Febuary", "Maret", "April", sep="#")

Januari#Febuary#Maret#April

In [27]:
print("Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu",sep="@",end="^_^")
print("One", "Two", "Three", "Four",sep="\n")

Senin@Selasa@Rabu@Kamis@Jumat@Sabtu@Minggu^_^One
Two
Three
Four

In [19]:
number1 = 7
number2 = 10

# Hasil perkalian 7 dengan 10 adalah 70
print("perkalian {} dengan {} adalah {}".format(number1,number2,number1 * number2))

perkalian 7 dengan 10 adalah 70

In [24]:
first_letter = "Mohammad"
mid_letter = "Rizqi"
last_letter = "Wijaya"
print("Urutan Huruf {2}{1}{0}".format(first_letter,mid_letter,last_letter))

Urutan Huruf WijayaRizqiMohammad

In [34]:
# Sekarang tanggal 20 Bulan Maret Tahun 2024
print("Sekarang Tanggal {tanggal} Bulan {bulan} Tahun {tahun}".format(tanggal = 20,bulan="Maret",tahun=2024))

Sekarang Tanggal 20 Bulan Maret Tahun 2024

In [44]:
kampus = "Universitas Nusa Putra"
print("Huruf pertama adalah:", kampus[0])
print("Huruf Terakhir adalah:",kampus[-1])
print("Huruf Range 0-10:",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
# Reverse String
print(kampus[])

Huruf pertama adalah: U
Huruf Terakhir adalah: a
Huruf Range 0-10: Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [50]:
# Split => String -> List
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])
# Join => List -> String
join_kota = "@".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Jakarta
Jakarta@Sukabumi@Malang@Bandung@Surabaya

In [94]:
# Isikan Nama Anda : Rizqi Wijaya
# Isikan Tanggal Lahir : 18/02/2004
# Output:
# Nama Awal : Rizqi
# Nama Akhir : Wijaya
# Tgl Lahir : 18
# Bulan Lahir : 02
# Tahun Lahir : 2004
# Nama Inisial : RW

Nama = input("Isikan Nama Anda : ")
Tgl = input ("Isikan Tanggal Lahir : ")

list_nama =(nama.split())
print("Nama Awal :" ,list_nama[0])
print("Nama Akhir :" ,list_nama[1])

list_Tgl =(Tgl.split("/"))
if list_Tgl[1]=="01" :
    keterangan ="Januari"
elif list_Tgl[2]=="02" :
    keterangan ="Febuari"
elif list_Tgl[3]=="03" :
    keterangan ="Maret"
elif list_Tgl[4]=="04" :
    keterangan ="April"
elif list_Tgl[5]=="05" :
    keterangan ="Mei"
elif list_Tgl[6]=="06" :
    keterangan ="Juni"
elif list_Tgl[7]=="07" :
    keterangan ="Juli"
elif list_Tgl[8]=="08" :
    keterangan ="Agustus"
elif list_Tgl[9]=="09" :
    keterangan ="September"
elif list_Tgl[10]=="10" :
    keterangan ="Oktober"
elif list_Tgl[11]=="11" :
    keterangan ="November"
elif list_Tgl[12]=="12" :
    keterangan ="Desember"
    
print ("Tanggal Lahir : ",list_Tgl[0])
print("Bulan Lahir : ",list_Tgl[1])
print("Tahun Lahir : ",list_Tgl[2])
print ("inisial : ",list_nama[0][0]+list_nama[1][0])

Isikan Nama Anda : Rizqi wijaya
Isikan Tanggal Lahir : 18/02/2004
Nama Awal : Rizqi
Nama Akhir : Wijaya

IndexError: list index out of range